body {
font-family: monospace, monospace;
background-color:#f0f0f0;
color: black;
}


.encart {
padding: 1em;
background-color: #FFE217;
}

ul.menu {
display: inline;
}

li.menu {
display: inline;
}

.pub {

}

dt.pub {
font-weight: bold;
padding-top: 1em;
}
